aiohttp<4.0.0a1
dnspython
loguru
pytz
pycoingecko==2.2.0
throttler==1.2.1
datadog-api-client==2.3.0

# Testing
pytest
pytest-asyncio
pythclient==0.1.2
prometheus-client==0.14.1
typing-extensions==3.10.0.2
pytest-mock
flake8
pytest-cov
